.headerContainer {
    width: 100%;
    position: absolute;
    top: 1.3rem;
    z-index: 2;
}

.headerBox {
    display: flex;
}

.abroadLogo {
    position: relative;
}

.abroadLogo .logCom {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-18deg);
    right: 0;
    bottom: 1rem;
    background-color: #0074d7;
    color: #fff;
    width: 25px;
    font-size: 8px;
    height: 25px;
}

.headerBtn {
    margin-left: 2rem;
}

.headerBtn button {
    padding: 0.2rem 1rem;
}

.headerNavBar {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.headerNavBar svg {
    margin-right: 3px;
    margin-top: -3px;
}

.menuTab {
    margin-left: auto !important;
    background: #0074d7;
    border-radius: 25px;
    overflow: hidden;
    margin-right: auto;
}

.navbar-brand {
    padding-bottom: 0 !important;
}

.login_main {
    border-radius: 25px;
}

.login_main a {
    padding-right: 0 !important;
}

.login_main:hover {
    transition: ease-in-out 0.5s;
}

.headerContainer .navbar-light .navbar-nav .text-white .nav-link:focus,
.headerContainer .navbar-light .navbar-nav .text-white .nav-link:hover {
    color: #fff !important;
}

@media(max-width:992px) {
    .menuTab {
        margin-left: auto !important;
        border-radius: 3px;
        width: 100%;
        margin-right: inherit !important;
        position: absolute;
        right: 0;
        left: 0;
        padding-bottom: 1rem;
    }
    .headerContainer {
        top: 0;
        background: #578efa;
        position: relative;
    }
    .abroadLogo {
        max-width: 70%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .abroadLogo .logCom {
        bottom: 0.3rem;
    }
}