.downloadApp {
    width: 100%;
    height: 100%;
    background: #fff url(/bolb_Bg.svg) center left no-repeat;
    background-size: 36% auto;
    position: relative;
}

.downloadApp::after {
    content: "";
    background: url(/PatternBg.svg) center right no-repeat;
    min-width: 156px;
    max-height: 482px;
    position: absolute;
    right: 0%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.frmBox {
    width: 100%;
    height: 100%;
    display: flex;
    max-height: 40px;
}

.downloadApp h1 {
    line-height: 60px !important;
}

.downloadApp h3 {
    color: #0d6efd;
}

.frmBox button {
    padding: 0.5rem 1.5rem;
    font-size: 16px;
}

.frmBox span {
    font-size: 20px;
    font-weight: 600;
    color: #444;
    background-color: #fff;
    padding: 0.6rem 0.6rem;
    border: 1px solid #ced4da;
    border-right: 0;
    border-radius: 5px 0px 0 5px;
    display: flex;
    align-items: center;
}

.frmBox .frmControl {
    width: 50%;
    border-radius: 0px 5px 5px 0px;
    margin-right: 1rem;
}

@media(max-width:768px) {
    .downloadApp::after {
        display: none;
    }
    .frmBox button {
        padding: 0.5rem 0.5rem;
        font-size: 13px;
    }
    .frmBox .frmControl {
        margin-right: 0rem;
    }
}

@media(max-width:600px) {
    .frmBox {
        flex-direction: column;
        justify-content: space-between;
    }
    .frmBox button {
        width: 100%;
    }
    .frmBox .frmControl {
        width: 100%;
        margin: 1rem 0;
        padding: 0.8rem;
    }
    .frmBox button {
        font-size: 16px;
    }
}