.bannerSection {
    width: 100%;
    height: 100%;
    position: relative;
}

.bannerSection {
    width: 100%;
    position: relative;
}

.bannerSection .bannerTextCont {
    bottom: 8rem;
    left: 10%;
    text-align: left;
    padding: 1.5rem 1rem 0rem 0rem;
    width: 40%;
    z-index: 3;
    border-radius: 5px;
}

.banerBtnCont {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.enrolBtn {
    padding: 0.6rem 2rem;
    margin-right: 2rem;
}

.knowMoreBtn {
    border: rgb(87, 93, 233) 2px solid;
    color: rgb(87, 93, 233);
    font-weight: bold;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    width: 160px;
    text-align: center;
}

.knowMoreBtn:hover {
    border: rgb(255, 255, 255) 2px solid;
    background-color: #000;
    transition: 0.5s;
    color: #FFF;
}

.bannerTextCont h1 {
    font-weight: bold;
    width: 100%;
    line-height: 1.2 !important;
    color: #fff;
}

.bannerTextCont h4 {
    margin: 1.5rem 0;
}

.bannerTextCont h5 {
    font-weight: 600;
    color: #fff;
}

.bannerTextCont p {
    width: 50%;
}

.progressBarContainer {
    position: absolute;
    bottom: 0rem;
    width: 65%;
    margin: auto;
    left: 9.5%;
    right: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.progressBarContainer div {
    display: block;
    width: 20%;
    padding: 0 10px;
    color: white;
    height: 75px;
}

.progressBarContainer div .progressBar {
    width: 100%;
    height: 2px;
    background-color: rgba(244, 244, 244, 0.9);
    display: block;
    position: relative;
}

.progressBarContainer div .progressBar .inProgress {
    background-color: #1970fa;
    width: 0%;
    height: 0px;
    padding: 0;
}

.progressBarContainer .progAnimation {
    width: 100%;
    height: 2px;
    background: #1970fa;
    position: absolute;
    left: 0;
    animation: mymove 8s;
    transition: ease-in-out 0.5s;
}

@keyframes mymove {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}

.progressBarContainer p {
    font-size: 13px;
    margin-top: 5px;
    line-height: 16px;
    color: #c9c4c4;
    min-height: 3rem;
    margin-bottom: 1rem;
}

.bannerSection button[data-bs-target] {
    width: 13%;
    height: 6rem;
    margin-right: 1rem;
}

.shadow {
    background: linear-gradient(359.6deg, rgba(0, 0, 0, 0.99) 0.35%, rgba(0, 0, 0, 0) 99.65%);
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: auto;
    width: 100%;
    padding: 5rem;
}

@media(max-width:1300px) {
    .bannerTextCont h1 {
        font-size: 2.5rem;
        width: 80%;
        line-height: 50px;
    }
}

@media(max-width:1150px) {
    .bannerTextCont h1 {
        font-size: 2.5rem;
        width: 100%;
    }
    .progressBarContainer {
        bottom: 20px;
        line-height: normal;
    }
    .bannerTextCont h4 {
        margin: 0.8rem 0;
    }
    .bannerSection .bannerTextCont {
        bottom: 8rem;
        padding: 1rem 0;
        width: 70%;
    }
    .enrolBtn {
        font-size: 14px;
    }
}

@media(max-width:992px) {
    .bannerTextCont h1 {
        font-size: 1.5rem;
        width: 90%;
    }
    .bannerTextCont h4 {
        margin: 0.5rem 0;
    }
    .bannerSection .bannerTextCont {
        width: 100%;
    }
    .enrolBtn {
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .bannerTextCont h1 {
        font-size: 1rem;
        width: 80%;
    }
    .progressBarContainer {
        display: none;
    }
    .bannerSection button[data-bs-target] {
        height: 4px;
        border-radius: 0px !important;
    }
    .bannerSection .bannerTextCont {
        bottom: 2rem;
        width: 95%;
    }
    .shadow {
        opacity: 0.3;
    }
}

@media(max-width:600px) {
    .enrolBtn {
        font-size: 13px;
        padding: 0.3rem 1rem;
    }
    .bannerTextCont h1,
    .bannerTextCont h4,
    .bannerTextCont h5 {
        font-size: 1rem;
        line-height: normal;
    }
    .bannerSection .bannerTextCont {
        bottom: 1rem;
    }
    .banerBtnCont {
        font-size: 13px;
        margin-top: 0.5rem;
    }
}

@media(max-width:500px) {
    .enrolBtn {
        font-size: 12px;
        padding: 0.2rem 1rem;
    }
}