/************ COUNTRY Section START *******************/

.CountryContainer {
    background: #fff url(/map-1.svg) bottom center no-repeat;
    background-size: cover;
    background-position: 0 3rem;
}

.box_01 .countryImage1 {
    background: url(/country/usa.png) no-repeat;
    background-size: cover;
}

.box_02 .countryImage1 {
    background: url(/country/uk.png) no-repeat;
    background-size: cover;
}

.box_03 .countryImage1 {
    background: url(/country/germany.png) no-repeat;
    background-size: cover;
}

.box_04 .countryImage1 {
    background: url(/country/canada.png) no-repeat;
    background-size: cover;
}

.box_05 .countryImage1 {
    background: url(/country/austrliya.png) no-repeat;
    background-size: cover;
}

.box_06 .countryImage1 {
    background: url(/country/irland.png) no-repeat;
    background-size: cover;
}

.ContAccordian {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.glBox {
    width: 24%;
    height: 370px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: ease-in-out 0.8s;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.glBox:last-child {
    margin-right: 0;
}

.choice {
    position: absolute;
    background: rgb(255 255 255 / 95%);
    padding: 2rem 2rem 2rem 4rem;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
}

.choice h4 {
    font-weight: 600;
    color: #9b3403;
}

.glBox:hover .choice {
    visibility: visible;
    transition: width 0.9s;
    font-family: arial;
}

.glBox:hover {
    width: 100%;
    transition: ease-in-out 0.5s;
    border: #ccc 1px solid;
}

.glBox:hover h1 {
    display: none;
}

.cardText {
    width: 70vh;
    font-weight: 500;
    color: #000;
    font-size: 1.2rem;
}

.cardText ul {
    margin: 0;
    padding: 1rem 1rem 1rem 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardText ul li {
    width: 47%;
    margin-right: -2rem;
    font-weight: 500;
}

.countryImg {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.countryImg h1 {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 7px;
    text-transform: uppercase;
    font-weight: 700;
}


/************ COUNTRY Section END *******************/


/************ jOURNEY Section StART *******************/

.jourSection {
    width: 100%;
    height: 100%;
    position: relative;
}

.slideBox01 {
    margin-top: 5rem;
}

.slideBox01 .row,
.slideBox02 .row,
.slideBox03 .row,
.slideBox04 .row,
.slideBox05 .row {
    display: flex;
    align-items: center;
}

.slideBox02 .jorBox,
.slideBox04 .jorBox {
    flex-direction: row-reverse;
}

.jorBox .jorRowBox {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.jourSection .descriptionSection {
    padding: 0 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-family: arial;
}

.jourSection .descriptionSection h2 {
    font-weight: 500;
    line-height: normal !important;
}

.jourSection .descriptionSection h2 span {
    color: #ffa400;
    font-weight: 600;
}

.jourSection .imgSection {
    border: 2px dashed #B7B8BD;
    display: flex;
    max-width: 500px;
    border-radius: 30px;
    overflow: hidden;
}

.imgJourney {
    max-width: 100%;
    height: auto;
    display: block;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.imgJourney:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}


/************ jOURNEY Section End *******************/


/************ Accourdion Section Start *******************/

.accordianSection {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f5f8ff;
}

.accInnerBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.accordianSection .lftBox {
    width: 70%;
    margin: 0 auto;
}

.accordianSection .rghtBox {
    width: 33%;
}

.accordianSection .rghtBox img {
    max-width: 100%;
}

.headingCont {
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.headingCont span {
    color: #0074d7;
    font-weight: 600;
}


/************ Accourdion Section End *******************/

.slideContainer {
    position: relative;
}

.journey_progress {
    background: #eee;
    width: 5px;
    height: 100%;
    position: absolute;
    padding: 0;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.cards_main_journey {
    padding-left: 15px;
}

.cards_main_journey.active_journey {
    padding-left: 0 !important;
    padding-right: 15px;
}

.cards_main_journey:before {
    content: '';
    position: absolute;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #0089e5;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 3px 9px #333;
}

.active_journey:before {
    left: auto;
    right: -10px;
}

.active_progress {
    background: #0089e5;
    transition: height ease-in-out;
    border-radius: 20px;
    position: relative;
}

@keyframes mymove {
    from {
        height: 0px;
    }
    to {
        height: 53vh;
    }
}

.active_progress::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 0;
    background: #ffa400;
    left: -4px;
    border-radius: 100%;
}

.active_journey {
    flex-direction: row-reverse;
    text-align: right;
}

@media (max-width: 1024px) {
    .journey_card_img {
        height: 260px;
    }
    .journey_progress {
        top: 130px;
    }
}

@media (max-width: 768px) {
    .journey_card_img {
        height: 200px;
    }
    .journey_cards p {
        font-size: 14px;
    }
    .sec_head h1 {
        font-size: 1.7rem;
    }
    .sec_head p {
        font-size: 1.2rem;
    }
    .journey_progress {
        top: 85px;
        height: 92.5%;
    }
}

@media (max-width: 425px) {
    .journey_cards,
    .active_journey {
        text-align: center;
    }
    .journey_cards {
        margin-bottom: 35px;
    }
    .journey_card_img {
        width: 45%;
        margin: auto;
    }
    .sec_head p {
        font-size: 1rem;
    }
    .sec_head h1 {
        font-size: 1.4rem;
    }
}