.fourCard {
    width: 100%;
    height: 100%;
    background-color: #f5f8ff;
}

.cardBox {
    width: 100%;
    padding: 1rem 2rem;
    height: 100%;
    border-top: #ddd 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.fourCard .cardBox:nth-of-type(1) {
    padding: 1rem 1rem;
}

.fourCard h4 {
    font-weight: 500;
    color: #333;
    font-size: 1.2rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}