.fourCard {
    width: 100%;
    height: 100%;
    background: rgb(222 222 222 / 18%);
}

.fourCard01 {
    background-color: #fff;
    padding: 5rem 0 2rem;
    position: relative;
}

.fourCard01::before {
    content: "";
    background: url(/patren01.svg) no-repeat;
    position: absolute;
    left: 0;
    top: 1.4rem;
    width: 40%;
    min-height: 156px;
    background-repeat: no-repeat;
}

.cardBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourCard h4 {
    font-weight: 700;
    color: #1159E5;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.exploreBtn {
    background: linear-gradient(268.86deg, #1159E5 0.73%, #689BFF 99.27%);
    border-radius: 35px;
    border: none;
    padding: 0.5rem 2.5rem !important;
    font-size: 15px;
    font-weight: 600;
}

@media(max-width: 1100px) {
    .fourCard01 {
        padding: 3rem 0 0rem;
    }
    .fourCard01::before {
        top: 0;
        width: 9%;
        min-height: 140px;
    }
    .fourCard h4 {
        font-size: 16px;
    }
    .exploreBtn {
        padding: 0.25rem 0.5rem;
        font-size: .875rem;
        font-weight: 600;
        margin-top: 1rem !important;
    }
}

@media(max-width: 992px) {}

@media(max-width: 768px) {}

@media(max-width: 600px) {}