.expertsSec {
    background: #001946 url(/bg/talk_Experts_Bg.svg) no-repeat;
    background-position: center 15px;
}

.exportBtn {
    width: 80%;
    color: #fff;
    padding: 0.7rem 1.5rem;
    background: none;
    border: #ffffff 2px solid;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 1rem;
}

.expertsCard ul {
    margin: 0;
    padding: 0;
    align-items: flex-end;
    justify-content: flex-end;
}

.expertsCard ul li {
    width: calc(30% - 6px);
    margin: 0 0 2% 2%;
    display: flex;
    overflow: hidden;
}

.expertsSec h2 {
    font-weight: 700;
    font-size: 35px;
}

.expertsSec h2,
.expertsSec p {
    color: #FFFF;
}

.expertsSec p {
    font-size: 16px;
}

.expertsSec .textOrange {
    color: #4786FF;
    font-weight: bold;
    font-size: 50px;
}